* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("img/Bildschirmfoto 2023-08-24 um 21.04.48.png");
  background-size: 40px;
  background-color: white;
  width: 100%;
  height: 120vh;
  font-family: "poppins";
}

header {
  margin: 20px;
}

.col.overview {
  padding: 0;
}

span:hover {
  font-size: 3.5rem;
  height: 80px;
}

.col.logo {
  max-width: 65px;
  height: 50px;
}

.col.logo:hover {
  height: 80px;
}

.col.menue {
  padding: 0;
  text-align: right;
}

main {
  margin: 20px;
}

.container.entry_content {
  background-color: #dde3e7;
  border-radius: 10px;
  padding: 20px;
}

.input_container {
  border-radius: 5px;
  background-color: #f05d5e;
  padding: 15px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#add_Button,
.btn.btn-primary.btn-sm {
  margin-top: 5px;
  margin-bottom: 0;
  border: none;
}

.entry_header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 0 10px 0;
}

.entry_header2,
.container.plus {
  color: #d8a47f;
  background-color: #0f7173;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px 0;
  margin-top: 20px;
  height: 100px;
}

.entry_header2:hover {
  padding: 13px;
  background-color: #17989b;
  box-shadow: black;
}

.entry_header3 {
  color: #d8a47f;
  background-color: #272932;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px 0;
  margin-top: 20px;
  height: 100px;
}

.entry_header3:hover {
  padding: 13px;
  background-color: #3c3f4d;
  box-shadow: black;
}

.entry_header4 {
  color: #313440;
  background-color: #f05d5e;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px 0;
  margin-top: 20px;
  height: 100px;
}

.entry_header4:hover {
  padding: 13px;
  background-color: #c33049;
  box-shadow: black;
}

.entry_topic h3 {
  font-size: 1.2rem;
  color: #272932;
  margin: 0;
}

.entry_topic2 h3,
.entry_topic3 h3,
.entry_topic4 h3 {
  font-size: 1rem;
  font-weight: 400;
  color: #ced5d9;
  margin: 0;
}

#entry_date {
  margin: 0;
}

.row.list_content {
  padding: 20px;
  padding-bottom: 0;
}

.unordered_list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form-check-input {
  margin: 0px;
}

.todo_text_area {
  margin-left: 6px;
}

.item {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d8a47f;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0;
  margin-bottom: 12px;
}

.item:hover {
  padding: 7px 15px;
  background-color: #ca7e49;
  box-shadow: black;
}

.item h4 {
  color: white;
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 0;
}

textarea {
  background: transparent;
  color: #fffffc;
  color: #fff;
  border: 0 none;
  font-size: 1rem;
  resize: none;
}

.todo_text_area p {
  color: #272932a1;
  text-align: center;
  font-size: 0.6rem;
  margin-bottom: 6px;
}

.share_row {
  display: flex;
  justify-content: center;
}

i.fa.fa-trash {
  font-size: 20px;
}

.btn.trashcan {
  margin: 0;
  padding: 0;
}

.container.new {
  padding: 0;
}

footer {
  text-align: center;
  color: #5454548d;
  font-size: 1rem;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: 700;
  color: #f05d5e;

  font-style: normal;
  font-size: 45px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.plus_icon {
  margin-top: 2rem;
  text-align: center;
  background-color: #17999b00;
  border: none;
}

/* Smartphone Hochformat (Portrait) /
@media only screen
  and (min-width: 320px)
  and (max-width: 479px) {

}

/ Smartphone Querformat (Landscape) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* CSS Merkmale für Geräte mit einer minimalen Breite  /
@media only screen
  and (min-width: 768px) {
 
}

/ CSS Merkmale für Geräte mit einer maximalen Breite  */
@media only screen and (max-width: 1024px) {
}

/*   //////////////////////
  Corporate Colors 
  "Clumsy Elephant"

  #0f7173
  #F05D5E
  #E7ECEF
  #272932
  #D8A47F
  ////////////////////// */
