* {
  margin: 0;
  padding: 0;
}

body {
  background-color:  #E7ECEF;
  width: 100%;
  height: 100vh;
  font-family: 'poppins';
}

header {
  margin: 20px;

}

img.col.logo {
  max-width: 70px;
}

main {
  border: solid 1px green;
  margin: 20px;
}

.container {
  border: solid 2px red; 
}

.row {
  border: solid 2px yellow;
  padding: 20px;
  display: flex;
  text-align: center;
} 

form {
border: solid 3px rgb(237, 83, 178);
}

#new-task-input {
background-color: rgb(255, 255, 0);
}

.add-task {
  border: solid 4px rgb(104, 211, 72);
}



.div.row.input {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* button.btn.btn-primary {
} */

.container {
  border: 2px solid red;
}

.row {
  border: solid 2px rgb(0, 81, 255);
  padding: 10px;
}

.col,
.col-3 {
    border: solid 1px pink;
}

#share {

}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }


/*   //////////////////////
  Corporate Colors 
  "Clumsy Elephant"

  #0f7173
  #F05D5E
  #E7ECEF
  #272932
  #D8A47F
  ////////////////////// */