* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e7ecef;
  width: 100%;
  height: 100vh;
  font-family: "poppins";
}

header {
  margin: 20px;
}

.col.overview {
  padding: 0;
}

.col.logo {
  max-width: 60px;
  height: 30px;
}

.col.menue {
  padding: 0;
  text-align: right;
}

main {
  border: solid 1px green;
  margin: 20px;
}

.container.entry_content {
  background-color: #d8a47f;
  padding: 10px;
}

.row.input {
  padding: 15px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#add_Button {
  margin-top: 5px;
  margin-bottom: 0;
}

.entry_header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 0 10px 0;
}

.entry_topic {
  width: 60%;
}

.entry_topic h3 {
  font-size: 1.2rem;
  margin: 0;
}

.entry_date_container {
  text-align: right;
  width: 20%;
}

#entry_date {
  margin: 0;
}

.row.input {
  background-color: #f05d5e;
}

.row.list_content {
  padding: 20px;
  padding-bottom: 0;
}

.unordered_list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list_div_item {
  display: flex;
  align-items: center;
  background-color: #f05d5e;
  border-radius: 5px;
  padding: 10px;
  margin: 0;
  margin-bottom: 5px;
}

.todo_text_area {
  margin-left: 6px;
}

textarea {
  background: transparent;
  color: #fff;
  border: 0 none;
  font-size: 1rem;
  resize: none;
}

.todo_text_area p {
  font-size: 0.6rem;
  margin-bottom: 0;
}

.share_row {
  display: flex;
  justify-content: center;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

/*   //////////////////////
  Corporate Colors 
  "Clumsy Elephant"

  #0f7173
  #F05D5E
  #E7ECEF
  #272932
  #D8A47F
  ////////////////////// */
